html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: linear-gradient(to right top, #60a9ff, #00c7ff, #00dee2, #00eb8d, #a8eb12);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
}